@model IEnumerable<CodeVista.Models.Diller>
@Scripts.Render("~/Layout/jquery")
@Styles.Render("~/Layout/css")
<div class="studies_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="studies_taital">Diller</h1>
            </div>
        </div>
        <div class="studies_section_2">
            <div class="row">
                <!-- Modeldeki her bir dil öğesi için bir döngü oluşturuluyor -->
                @foreach (var item in Model)
                {
                    <!-- Her dil için bir sütun oluşturuluyor ve bu sütunlar bir satır içinde düzenleniyor -->
                    <div class="col-md-4">
                        <div class="hover01 column">
                            <figure>
                                <!-- Her dilin resmini gösteriyor. Resim yoksa, "Resim Yok" yazısı görüntülenir -->
                                <img src="~/images/@item.resim" alt="Resim Yok" style="max-width: 100%; max-height: 100%; width: 350px; height: 300px;">
                            </figure>
                        </div>
                        <div class="studies_box">
                            <h3 class="introduction_text">@item.DilAdi</h3>
                        </div>
                        <div class="read_bt">
                            <!-- "Daha Fazla" bağlantısı, ilgili dilin konularının listelendiği sayfaya yönlendirir. -->
                            <!-- Bağlantı, DilKonularis controller'ının Index action'ına gider ve ilgili dilin ID'sini ve resmini parametre olarak alır -->
                            <a href="@Url.Action("Index", "DilKonularis", new { id = item.DilİD,  img = item.resim })">Daha Fazla</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

